@font-face{
    font-family: SF;
    src:url("./font/SF-Pro-Text-Regular.otf");
}

body{
    margin:0px;
    font-family: SF;
}

.stripe{
    height: 100px;
<<<<<<< HEAD

}
.menu{
    height: 44px;
    width: 101%;
    text-align: center;
    color:lightgrey;
    margin: 0 -10px;
    position: fixed;
    top: 0;
    background-color: #323232;
    padding: 0;
    z-index: 1;   
}
.applelogo{
    height: 20px;
    width: 17px;
    position: relative;
    top: 4px;
}
.menu li{
    display: inline;
    margin: 35px;
    line-height: 42px;
}
.menu.stripe .menu-entry{
    margin:20px;
    text-align: center;
    padding: 2%;

}
=======
}

>>>>>>> 04f437286a792cec89cf38b753ef12c72298392a
.main1.stripe{
    height: 600px;
    text-align: center;
    align-items: center;
    background-image:url('./iphone_x_large.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FAFAFA;
    margin-top:44px;
    padding-top: 10px;

}

.main2.stripe{
    height: 600px;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FAF0EB;
    background-image:url('./iphone_8_large.jpg');
    padding-top: 10px;
    margin-top:15px;

}

.feature.stripe{
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;


}

.grid-item{
  padding-top: 20px;
    text-align: center;
    height: 500px;

}

.one{
    background:url("https://images.apple.com/v/home/dn/images/promos/arkit_medium.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-size: 17px;
}

.two{
    background:url("https://images.apple.com/v/home/dn/images/promos/music_three_months_medium.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-size: 17px;

}
.two .logomusic{
    height:30px;
}

.three{
    background:url("https://images.apple.com/euro/home/g/screens_alt/images/promos/watch_series_3_alt_nonsiri_large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FAFAFA;
    color: black;
    font-size: 17px;
    line-height: 0%;
}

.watch{
    margin-top: -1.5%;
}

.three .logonoir{
    height: 30px;
}

.four{
    background:url("https://images.apple.com/v/home/dn/images/promos/imac_pro_medium.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1A1A1A;
    color:white;
    font-size: 17px;
}

.fin{
    position: relative;
    height: 356px;
    bottom: 0;  
    left: 0;
    width: 100%;
    background: #F2F2F2; 
}
.elements{
    text-align: left;
    display: inline-block;
    vertical-align: top;
<<<<<<< HEAD
    width: 22,5%;
    line-height: 23px;
    font-size: 11px;
    color:darkgrey;
}
.elements ul{
    list-style: none;
    margin-left: 100px;
    margin-top: 32px;
}
.gras{
    font-weight: 600;
}
.bleu{
    color: #0070c9;
}
.decale{
    margin-left: -13px;
}
hr{
    color: darkgrey;
    width: 80%;
    height: 1px;
    padding: 0;
    margin-top: -2px;
}
.lastline{
    color: darkgrey;
    font-size: 11px;
    margin-left: 10%;
    display: inline-block;

}
.israel{
    height: 17px;
   position: relative;
   top: 5px;
}
.secondpart{
    margin-left: 25px;
}
.thirdpart{
    margin-left: 570px;
    margin-right: 5px;
}
=======
    margin:20px;
    line-height: 25px;
 }
>>>>>>> 04f437286a792cec89cf38b753ef12c72298392a
